@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

:root {
  --color-primary: #ff3e50;
  --color-secondary: #f9fffa;
}

.btn-primary {
  @apply bg-primary text-white py-2 px-4 rounded-sm text-xs font-normal;
}
